/* src/custom.css */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Inter:wght@400;500;700&display=swap');

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.landing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2vh 2vw 10vh 2vw;
  font-family: 'Playfair Display', serif;
  position: relative;
  width: min(100%, 1800px);
  margin: 0 auto;
}

.content-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: -4vh;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 1.8rem;
}

.logo img {
  height: 80px;
  width: auto;
  order: 2;
  will-change: transform;
  z-index: 2;
  animation: spin 20s linear infinite;
}

.logo span {
  font-size: 1.8rem;
  color: #333;
  order: 1;
}

.text-content {
  flex: 1;
  max-width: 600px;
  padding: 0 5px;
  min-width: 500px;
}

.text-content h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  margin: 0;
}

.text-content p {
  font-size: 1.2rem;
  color: #666;
  margin: 0;
  line-height: 1.6;
  font-family: 'Inter', sans-serif;
  padding-bottom: 20px;
  padding-top: 20px;
}

.text-content button {
  align-self: flex-start;
  padding: 15px 30px;
  font-size: 15px;
  font-weight: 600;
  background-color: #BF745C;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.text-content button:hover {
  background: #c04f29;
}

.mobile-text {
  display: none;
}

.image-content {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #EDD0B9, #F9E8E1);
  border-radius: 500px;
  z-index: 0;
  padding: 20px;
  max-height: 100%;
  min-width: 500px;
  max-width: 600px;
}

.image-content img {
  max-width: 85%;
  max-height: 85%;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
}

/* Responsive design */
@media (max-width: 768px) {
  .landing {
    padding: 20px 0 60px 0;
    width: 100%;
  }
  
  .logo {
    margin-bottom: 40px;
    display: none;
  }
  
  .landing-content {
    padding: 20px 1rem;
  }
  
  .text-content {
    padding: 0 20px;
    width: 100%;
    text-align: left;
    order: 2;
    min-width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }
  
  .text-content button {
    align-self: center;
  }

  .desktop-text {
    display: none;
  }

  .mobile-text {
    display: inline;
  }
  
  .image-content {
    width: 100%;
    padding: 10px 20px;
    order: 1;
    min-width: unset;
    max-width: 400px;
  }
  
  .text-content h2 {
    font-size: 2.5rem;
    padding: 0;
  }
  
  .text-content p {
    font-size: 1.1rem;
    padding: 20px 0;
  }

  .image-content img {
    max-width: 80%;
    width: auto;
    height: auto;
  }

  .logo img {
    height: 48px;
  }

  .logo span {
    font-size: 1.5rem;
  }

  .main-content {
    flex-direction: column;
    gap: 1rem;
  }

  .text-content {
    min-width: unset;
    text-align: left;
  }

  .text-content h2 {
    margin-top: 0.5rem;
  }
}
